@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Smooch&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Smooch", cursive;
  font-size: 4rem;
}
