.tattooCard {
  height: 400px;
  width: 300px;
}

.modal {
    height: 300px;
    width: auto;
  }

/* @media (min-height: 400px) {
  .tattooCard {
    height: 300px;
    width: 225px;
  }
} */

@media (min-height: 500px) {
  .modal {
    height: 400px;
    width: auto;
  }
}

@media (min-height: 600px) {
  .modal {
    height: 500px;
    width: auto;
  }
}
